.title {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 1px;
}

.submitPost {
  display: block;
  margin-bottom: 20px;
  width: 250px;
  padding: 3px;
  font-weight: bold;
}

.finalizePost {
  display: block;
  margin-top: 20px;
}

.submitAPost {
  background-color: #CEE3F8;
  width: 50%;
  min-width: 350px;
  max-width: 650px;
  height: 300px;
  display: table;
  margin: 0 auto;
  margin-top: 0em;
  top: 50%;
  position: relative;
  z-index: 10;
  padding-bottom: 20px;
}

.alignRight {
  right: 10px;
  position: absolute;
  top: 0px;
}

.closeThis {
  cursor: pointer
}

.col-sm-3, .col-sm-9 {
  padding-right: 0;
}
