<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div *ngIf="showSubmitDiv == false">
        <ul>
          <li *ngFor="let post of postPreviews">{{post.upvote}} <a href="{{post.titleLink}}" class="title">{{post.title}}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3 sidebar">
      <button type="button" class="submitPost" (click)="showSubmitAPosts()" name="button">Submit a post</button>
      <!-- <button type="button" (click)="submitASubreddit()" name="button">Create your own subreddit</button> -->
    </div>
  </div>
</div>

<div #submitAPost class="container submitAPost" *ngIf="showSubmitDiv == true">
  <div (click)="showSubmitAPosts()" class="alignRight closeThis">X</div>
  <h3>submit to reddit</h3>

  <h3>url</h3>
  <input type="text" name="" value="">

  <!-- <h3>Image/Video</h3>
  <input type="text" name="" value=""> -->

  <h3><span class="red">*</span>title</h3>
  <input type="text" name="" value="">

  <h3>text</h3>
  <textarea name="name" rows="8" cols="80"></textarea>

  <!-- <h3>Choose where to post</h3>
  <input type="text" name="" value=""> -->
  <button (click)="submitAPosts()" class="finalizePost" type="button" name="button">Submit</button>
</div>
