.title {
  font-size: medium;
  font-weight: normal;
  margin-bottom: 1px;
}

.submitPost {
  display: block;
  margin-bottom: 20px;
  min-width: 99%;
  padding: 3px;
  font-weight: bold;
}

.finalizePost {
  display: block;
  margin-top: 20px;
}
